<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <h1>Terms and Conditions Classifier</h1>
        <form id="predictionForm">
            <textarea id="textInput" name="text" placeholder="Enter your text here..."></textarea>
            <button type="button" onclick="makePrediction()">Predict</button>
        </form>
        <div id="predictionResult"></div>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/js/main.js"></script>
</body>
</html>